/* ansible-playbook.css */

/* Set the background color to black */
/* Set the font color to white */
.cm-s-ansible-playbook {
  background: black; /* 设置背景颜色为黑色 */
  color: white; /* 设置整体字体颜色为白色 */
}

/* Style for 'ok' */
.cm-s-ansible-playbook .cm-ok {
  color: green; /* 设置 'ok' 的颜色绿色 */
}

/* Style for 'changed' */
.cm-s-ansible-playbook .cm-changed {
  color: orange; /* 设置 'changed' 的颜色橘色 */
}

/* Style for 'fatal' */
.cm-s-ansible-playbook .cm-fatal {
  color: red; /* 设置 'fatal' 的颜色红色 */
}

/* Style for 'skipping' */
.cm-s-ansible-playbook .cm-skipping {
  color: cyan; /* 设置 'skipping' 的颜色为青色 */
}

/* Style for 'debug' */
.cm-s-ansible-playbook .cm-debug {
  color: darkgray; /* 设置 'debug' 的颜色为暗灰色 */
}

/* Style for 'warn' */
.cm-s-ansible-playbook .cm-warn {
  color: purple; /* 设置 'warn' 的颜色为紫色 */
}